---
http_interactions:
- request:
    method: get
    uri: https://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"44e8e003e0f1b5e38f7ca916ff4497d7"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/","links":[{"rel":"drops","href":"https://api.getcloudapp.com/drops"}]}}'
  recorded_at: Fri, 24 Aug 2012 20:43:41 GMT
- request:
    method: get
    uri: https://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"16034b9fdf04b736baac4953b7212a4a"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/drops","links":[{"rel":"drops-stream","href":"https://api.getcloudapp.com/drops/stream"}],"queries":[{"href":"https://api.getcloudapp.com/drops","rel":"drops-list","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"items":[{"href":"https://api.getcloudapp.com/drops/21399192","links":[{"rel":"collection","href":"https://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/Iyky"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/Iyky"},{"rel":"embed","href":"http://cl.ly/Iyky/favicon.ico"},{"rel":"download","href":"http://cl.ly/Iyky/download/favicon.ico"}],"data":[{"name":"id","value":21399192},{"name":"name","value":"favicon.ico"},{"name":"private","value":false},{"name":"trash","value":false},{"[...]
- request:
    method: get
    uri: https://api.getcloudapp.com/drops?filter=all&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"5629992dd3ccd63c9e00742abaee8839"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":[...]
- request:
    method: delete
    uri: https://api.getcloudapp.com/drops/21399192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 24 Aug 2012 20:43:42 GMT
[...]
- request:
    method: delete
    uri: https://api.getcloudapp.com/drops/21399179
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 24 Aug 2012 20:43:45 GMT
recorded_with: VCR 2.0.1
