---
http_interactions:
- request:
    method: get
    uri: https://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Www-Authenticate:
      - Token realm="CloudApp"
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/account/token","links":[{"rel":"root","href":"https://api.getcloudapp.com/"}],"template":{"data":[{"name":"email","value":null},{"name":"password","value":null}]}}}'
  recorded_at: Tue, 11 Sep 2012 15:46:40 GMT
- request:
    method: post
    uri: https://api.getcloudapp.com/account/token
    body:
      encoding: UTF-8
      string: ! '{"email":"arthur@dent.com","password":"towel"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"4438a3f4f703a01c251b7ecc1feab772"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/account/token","links":[{"rel":"root","href":"https://api.getcloudapp.com/"}],"items":[{"href":"https://api.getcloudapp.com/account/token","data":[{"name":"token","value":"abc123"}]}]}}'
  recorded_at: Tue, 11 Sep 2012 15:46:41 GMT
recorded_with: VCR 2.0.1
