---
http_interactions:
- request:
    method: get
    uri: https://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"44e8e003e0f1b5e38f7ca916ff4497d7"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/","links":[{"rel":"drops","href":"https://api.getcloudapp.com/drops"}]}}'
  recorded_at: Tue, 11 Sep 2012 15:47:10 GMT
- request:
    method: get
    uri: https://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"f9afa92f138bd050b4fbc69e7cb517bc"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/drops","links":[{"rel":"drops-stream","href":"https://api.getcloudapp.com/drops/stream"}],"queries":[{"href":"https://api.getcloudapp.com/drops","rel":"drops-list","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"items":[{"href":"https://api.getcloudapp.com/drops/21907698","links":[{"rel":"collection","href":"https://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/JOI3"},{"rel":"icon","href":"https://d9yac136u048z.cloudfront.net/images/thumbnails/bookmark.png"}],"data":[{"name":"id","value":21907698},{"name":"name","value":"http://getcloudapp.com"},{"name":"private","value":false},{"name":"trash","value":false},{"name":"views","value":0},{"name":"created","value":"2012-09-11T15:47:11Z"}]},{"[...]
- request:
    method: post
    uri: https://api.getcloudapp.com/drops
    body:
      encoding: UTF-8
      string: ! '{"name":null,"private":true,"trash":false,"bookmark_url":"http://getcloudapp.com","file_size":null}'
    headers:
      Authorization:
      - Token token="abc123"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"96c4cfe17f73242ed39bcc7832adc167"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/drops","links":[{"rel":"drops-stream","href":"https://api.getcloudapp.com/drops/stream"}],"queries":[{"href":"https://api.getcloudapp.com/drops","rel":"drops-list","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"items":[{"href":"https://api.getcloudapp.com/drops/21907699","links":[{"rel":"collection","href":"https://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/0y3v3S1l390q"},{"rel":"icon","href":"https://d9yac136u048z.cloudfront.net/images/thumbnails/bookmark.png"}],"data":[{"name":"id","value":21907699},{"name":"name","value":"http://getcloudapp.com"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":0},{"name":"created","value":"2012-09-11T15:47:13Z"}]}]}}'
  recorded_at: Tue, 11 Sep 2012 15:47:11 GMT
- request:
    method: get
    uri: https://api.getcloudapp.com/drops/21907699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"96c4cfe17f73242ed39bcc7832adc167"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://ap[...]
[...]
