---
http_interactions:
- request:
    method: get
    uri: https://api.getcloudapp.com/drops/21399180
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"bb369d9d7751f58571e26e70ce265e12"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"https://api.getcloudapp.com/drops","links":[{"rel":"drops-stream","href":"https://api.getcloudapp.com/drops/stream"}],"queries":[{"href":"https://api.getcloudapp.com/drops","rel":"drops-list","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"items":[{"href":"https://api.getcloudapp.com/drops/21399180","links":[{"rel":"collection","href":"https://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/IzhX"},{"rel":"icon","href":"https://d9yac136u048z.cloudfront.net/images/thumbnails/bookmark.png"}],"data":[{"name":"id","value":21399180},{"name":"name","value":"http://cl.ly"},{"name":"private","value":false},{"name":"trash","value":false},{"name":"views","value":0},{"name":"created","value":"2012-08-24T20:43:24Z"}]}]}}'
  recorded_at: Fri, 24 Aug 2012 20:43:33 GMT
recorded_with: VCR 2.0.1
