---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Mon, 02 Apr 2012 18:54:34 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"09758ab9a9735d8a8a4eef2c0e044230"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/111","links":[{"rel":"canonical","href":"http://localhost:3000/0G3p0S0q441q1z1c3B0A"},{"rel":"icon","href":"https://localhost:3001/0G3p0S0q441q1z1c3B0A"}],"data":[{"name":"id","value":111},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/105","links":[{"rel":"canonical","href":"http://localhost:3000/2R0s0A0g3t1c311y1g0k"},{"rel":"icon","href":"https://localhost:3001/2R0s0A0g3t1c311y1g0k"}],"data":[{"name":"id","value":105},{"name":"name","value":"New
        Drop"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/104","links":[{"rel":"canonical","href":"http://localhost:3000/2E2P0s2J0W2n0C112[...]
- request:
    method: post
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: UTF-8
      string: ! '{"name":"New Bookmark","private":true,"bookmark_url":"http://getcloudapp.com","file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/112","links":[{"rel":"canonical","href":"http://localhost:3000/3O22133C1B0f1j1G3n0X"},{"rel":"icon","href":"https://localhost:3001/3O22133C1B0f1j1G3n0X"}],"data":[{"name":"id","value":112},{"name":"name","value":"New
        Bookmark"},{"name":"private","value":true},{"name":"views","value":0}]}],"templates":[{"rel":"/rels/create","href":"/drops","data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Mon, 02 Apr 2012 18:54:35 GMT
recorded_with: VCR 2.0.0
