---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Mon, 02 Apr 2012 18:34:25 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"a7b4c779ec72fd8fcd9f6bc718f2017f"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/108","links":[{"rel":"canonical","href":"http://localhost:3000/0K450f0P2S3A0Z1h1X1Y"},{"rel":"icon","href":"https://localhost:3001/0K450f0P2S3A0Z1h1X1Y"}],"data":[{"name":"id","value":108},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/107","links":[{"rel":"canonical","href":"http://localhost:3000/2i402M3P162Z3L3q211j"},{"rel":"icon","href":"https://localhost:3001/2i402M3P162Z3L3q211j"}],"data":[{"name":"id","value":107},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/106","links":[{"rel":"canonical","href":"http://localhost:3000/1m1T090p1F0V21083w10"},{"rel":"[...]
- request:
    method: post
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: UTF-8
      string: ! '{"name":null,"private":true,"bookmark_url":"http://getcloudapp.com","file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/109","links":[{"rel":"canonical","href":"http://localhost:3000/1G1T1s2C3W3Q2g032s3P"},{"rel":"icon","href":"https://localhost:3001/1G1T1s2C3W3Q2g032s3P"}],"data":[{"name":"id","value":109},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]}],"templates":[{"rel":"/rels/create","href":"/drops","data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Mon, 02 Apr 2012 18:34:25 GMT
recorded_with: VCR 2.0.0
