---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"ebdf7b114b2f1575a69b1cc2e58082e5"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/","links":[{"rel":"account","href":"http://api.getcloudapp.com/account"},{"rel":"drops","href":"http://api.getcloudapp.com/drops"}]}}'
  recorded_at: Fri, 04 May 2012 18:23:12 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"4593d0d4e44506ba0efe52f837f78a1c"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17988497","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/2E1b0z0n450f2r2R102z"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2E1b0z0n450f2r2R102z"},{"rel":"embed","href":"http://cl.ly/2E1b0z0n450f2r2R102z/favicon.ico"},{"rel":"download","href":"http://cl.ly/2E1b0z0n450f2r2R102z/download/favicon.ico"}],"data":[{"name":"id","value":17988497},{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":0},{"name":"created","value":"2012-05-04T18:22:39Z"}]},{"href":"http://api.getcloudapp.com/drops/17988471","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/3Y0O2P3D0X2n2F2g3r2a"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/3Y0O2P3D0X2n2F2g3r[...]
- request:
    method: post
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: UTF-8
      string: ! '{"name":null,"private":true,"trash":false,"bookmark_url":"http://getcloudapp.com","file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17988524","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/3j0a1S2v0y3t2F2K2i3O"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/3j0a1S2v0y3t2F2K2i3O"}],"data":[{"name":"id","value":17988524},{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":0},{"name":"created","value":"2012-05-04T18:23:12Z"}]}],"queries":[{"href":"http://api.getcloudapp.com/drops","rel":"drops-filter","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"links":[{"rel":"drops-stream","href":"http://api.getcloudapp.com/drops/stream"}]}}'
  recorded_at: Fri, 04 May 2012 18:23:12 GMT
recorded_with: VCR 2.0.0
