---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Tue, 03 Apr 2012 17:25:12 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"64f1bf73ed09c24945951b077b275cfc"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/13950097","links":[{"rel":"canonical","href":"http://cl.ly/0P281s1u1J1p47241B3o"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/0P281s1u1J1p47241B3o"},{"rel":"embed","href":"http://cl.ly/0P281s1u1J1p47241B3o/favicon.ico"},{"rel":"download","href":"http://cl.ly/0P281s1u1J1p47241B3o/download/favicon.ico"}],"data":[{"name":"id","value":13950097},{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":24}]},{"href":"/drops/13950087","links":[{"rel":"canonical","href":"http://cl.ly/2n3a3S3f0J2w3X453r3L"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2n3a3S3f0J2w3X453r3L"},{"rel":"embed","href":"http://cl.ly/2n3a3S3f0J2w3X453r3L/%C3%B8%C3%A6%C3%98%C3%BC%C3%B6%C3%A4%C3%9F!%3F&%2B-.jpeg"},{"rel":"download","href":"http://cl.ly/2n3a3S3f0J2w3X453r3L/download/%C3%B8%C3%A6%C3%98%C3%BC%C3%B6%[...]
- request:
    method: post
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: UTF-8
      string: ! '{"name":null,"private":true,"bookmark_url":"http://getcloudapp.com","file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/16924582","links":[{"rel":"canonical","href":"http://cl.ly/2E2s2o0i0m1u1i3q4035"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2E2s2o0i0m1u1i3q4035"}],"data":[{"name":"id","value":16924582},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]}],"templates":[{"rel":"/rels/create","href":"/drops","data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Tue, 03 Apr 2012 17:25:13 GMT
recorded_with: VCR 2.0.0
