---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?page=3&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"29a59cc8589cf2d5f9a032d74f33c2ee"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/13949537","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/2t443p3b1v0J0D3t3n0g"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2t443p3b1v0J0D3t3n0g"}],"data":[{"name":"id","value":13949537},{"name":"name","value":"Link
        2"},{"name":"private","value":true},{"name":"bookmark_url","value":"http://getcloudapp.com"},{"name":"views","value":0}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"links":[{"rel":"previous","href":"/drops?page=2&per_page=20"}]}}'
  recorded_at: Sat, 21 Apr 2012 18:24:13 GMT
recorded_with: VCR 2.0.0
