---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?page=2&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"165d06694102ed449e139ed9d77e6b04"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/13949858","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/1x200A0m3v101d1n2O1u"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/1x200A0m3v101d1n2O1u"},{"rel":"embed","href":"http://cl.ly/1x200A0m3v101d1n2O1u/Cover.jpeg"},{"rel":"download","href":"http://cl.ly/1x200A0m3v101d1n2O1u/download/Cover.jpeg"}],"data":[{"name":"id","value":13949858},{"name":"name","value":"Cover.jpeg"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":25},{"name":"created","value":"2012-01-12T20:44:58Z"}]},{"href":"http://api.getcloudapp.com/drops/13949855","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/3U3d3w3r0G0T1T1M0d2T"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/3U3d3w3r0G0T1T1M0d2T"},{"rel":"embed","href":"http://cl.ly/3U3d3w3r0G0T1T1M0d2T/Chapter%201.md"},{"rel":"download","href":"http://cl.ly/3U3d3w3r0G0T1T1M0d2T/download/Chapter%201.md"}],"data":[{"name":"id","value":13949855},{"name":"name","value":"Chapter
        1.md"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":8},{"name":"created","value":"2012-01-12T20:44:54Z"}]},{"href":"http://api.getcloudapp.com/drops/13949577","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/2O2J1h3t0H0v1I1u0t0P"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2O2J1h3t0H0v1I1u0t0P"}],"data":[{"name":"id","value":13949577},{"name":"name","value":"Renamed
        Drop"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":3},{"name":"created","value":"2012-01-12T20:39:04Z"}]}],"queries":[{"href":"http://api.getcloudapp.com/drops","rel":"drops-filter","data":[{"name":"filter","value":"active"},{"name":"limit","value":20}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},"links":[{"rel":"drops-stream","href":"http://api.getcloudapp.com/drops/stream"},{"rel":"next","href":"http://api.getcloudapp.com/drops?page=3&per_page=3"},{"rel":"previous","href":"http://api.getcloudapp.com/drops?page=1&per_page=3"}]}}'
  recorded_at: Fri, 04 May 2012 18:10:17 GMT
recorded_with: VCR 2.0.0
