---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"ebdf7b114b2f1575a69b1cc2e58082e5"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/","links":[{"rel":"account","href":"http://api.getcloudapp.com/account"},{"rel":"drops","href":"http://api.getcloudapp.com/drops"}]}}'
  recorded_at: Fri, 04 May 2012 18:02:05 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"24e99a28a94dae295033b121fc74d1cd"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17691061","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/2a2W3y1d1N3i3G022j2n"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/2a2W3y1d1N3i3G022j2n"},{"rel":"embed","href":"http://cl.ly/2a2W3y1d1N3i3G022j2n/favicon.ico"},{"rel":"download","href":"http://cl.ly/2a2W3y1d1N3i3G022j2n/download/favicon.ico"}],"data":[{"name":"id","value":17691061},{"name":"name","value":"The
        Late, Great Douglas Adams"},{"name":"private","value":true},{"name":"trash","value":false},{"name":"views","value":7},{"name":"created","value":"2012-04-25T20:41:29Z"}]},{"href":"http://api.getcloudapp.com/drops/13949886","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/322M3q1t261o30012s32"},{"rel":"icon","href":"https://thumbs.getcloud[...]
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?filter=trash&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"1d19b07a32102d86fc10822c4f96338d"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href"[...]
