---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/?filter=trash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"ebdf7b114b2f1575a69b1cc2e58082e5"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/","links":[{"rel":"account","href":"http://api.getcloudapp.com/account"},{"rel":"drops","href":"http://api.getcloudapp.com/drops"}]}}'
  recorded_at: Sat, 21 Apr 2012 18:23:49 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?filter=trash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"e9ed41f7bc09f569954bf9145dfa09c1"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17545802","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/3l0H472P192K3Y022n3S"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/3l0H472P192K3Y022n3S"}],"data":[{"name":"id","value":17545802},{"name":"name","value":"Delete
        Me 2"},{"name":"private","value":true},{"name":"bookmark_url","value":"http://getcloudapp.com"},{"name":"views","value":0}]},{"href":"http://api.getcloudapp.com/drops/17545799","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/0E0l0k073d0M2m3h0G3T"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/0E0l0k073d0M2m3h0G3T"}],"data":[{"name":"id","value":17545799},{"name":"name","value":"Delete
        Me 1"},{"name":"private","value":true},{"name":"bookmark_url","value":"http://getcloudapp.com"},{"name":"views","value":0}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]}}}'
  recorded_at: Sat, 21 Apr 2012 18:23:50 GMT
recorded_with: VCR 2.0.0
