---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - </account>; rel="/rels/account", </drops>; rel="/rels/drops", </drops/trash>;
        rel="/rels/drops/trash"
      Content-Type:
      - application/vnd.cloudapp+json
    body: ! ' '
  recorded_at: Tue, 28 Feb 2012 11:28:27 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.getcloudapp.com/drops?page=1&per_page=20>; rel="self", <http://api.getcloudapp.com/drops?page=2&per_page=20>;
        rel="next"
      Content-Type:
      - application/vnd.cloudapp+json; charset=utf-8
      Etag:
      - ! '"a31f13c3a5ad7e10f4c2893f9e7b22ea"'
    body: ! '[{"created_at":"2012-02-01T00:01:55Z","deleted_at":"2012-02-01T00:21:58Z","id":74,"item_type":"bookmark","name":"CloudApp","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-02-01T00:21:58Z","view_counter":0,"href":"http://my.cl.dev/items/74","url":"http://localhost:3000/3Q0407150u062F1N3F2B","content_url":"http://localhost:3000/3Q0407150u062F1N3F2B","icon":"http://assets.my.cl.dev/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-01-22T21:06:50Z","deleted_at":null,"id":68,"item_type":"image","name":"large.gif","private":true,"redirect_url":null,"remote_url":"http://dev.f.cl.ly/items/3X1T361q2h3J1b3f2x08/large.gif","source":"Mozilla/5.0
      (Macintosh; Intel Mac OS X 10_7_2) AppleWebKit/535.7 (KHTML, like Gecko) Chrome/16.0.912.75
      Safari/535.7","updated_at":"2012-01-26T16:52:22Z","view_counter":7,"href":"http://my.cl.dev/items/68","url":"http://localhost:3000/2J161F0V0J1n1v381G2x","content_url":"http://cl.dev/2J161F0V0J1n1v381G2x/large.gif","icon":"http://assets.my.cl.dev/images/item-types/image.png","thumbnail_url":"http://localhost:3001/2J161F0V0J1n1v381G2x","subscribed":false,"download_url":"http://api.cl.dev/2J161F0V0J1n1v381G2x/download/large.gif"},{"created_at":"2012-01-31T23:33:15Z","deleted_at":"2012-01-31T23:33:30Z","id":69,"item_type":"bookmark","name":"CloudApp","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-01-31T23:33:30Z","view_counter":0,"href":"http://my.cl.dev/items/69","url":"http://localhost:3000/05442y2A3H42113P2r2U","content_url":"http://localhost:3000/05442y2A3H42113P2r2U","icon":"http://assets.my.cl.dev/[...]
