---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - </account>; rel="/rels/account", </drops>; rel="/rels/drops", </drops/trash>;
        rel="/rels/drops/trash"
      Content-Type:
      - application/vnd.cloudapp+json
    body: ! ' '
  recorded_at: Tue, 28 Feb 2012 21:03:32 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.getcloudapp.com/drops?page=1&per_page=20>; rel="self"
      Content-Type:
      - application/vnd.cloudapp+json; charset=utf-8
      Etag:
      - ! '"e1be74d8262797c99f67824503cd05a2"'
    body: ! '[{"created_at":"2012-02-01T00:01:55Z","deleted_at":"2012-02-01T00:21:58Z","id":74,"item_type":"bookmark","name":"CloudApp","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-02-01T00:21:58Z","view_counter":0,"href":"http://my.cl.dev/items/74","url":"http://localhost:3000/3Q0407150u062F1N3F2B","content_url":"http://localhost:3000/3Q0407150u062F1N3F2B","icon":"http://assets.my.cl.dev/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-01-31T23:33:15Z","deleted_at":"2012-01-31T23:33:30Z","id":69,"item_type":"bookmark","name":"CloudApp","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-01-31T23:33:30Z","view_counter":0,"href":"http://my.cl.dev/items/69","url":"http://localhost:3000/05442y2A3H42113P2r2U","content_url":"http://localhost:3000/05442y2A3H42113P2r2U","icon":"http://assets.my.cl.dev/images/item-types/bookmark.png","subscribed":false},{"[...]
