---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Thu, 08 Mar 2012 19:15:59 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"9ce684c15c7d55ca4643c3e67850aba2"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/13950097","links":[{"rel":"canonical","href":"http://cl.ly/0P281s1u1J1p47241B3o"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":23}]},{"href":"/drops/13950087","links":[{"rel":"canonical","href":"http://cl.ly/2n3a3S3f0J2w3X453r3L"}],"data":[{"name":"name","value":"\u00f8\u00e6\u00d8\u00fc\u00f6\u00e4\u00df!?&+-.jpeg"},{"name":"private","value":true},{"name":"views","value":12}]},{"href":"/drops/13950015","links":[{"rel":"canonical","href":"http://cl.ly/3I28311d3n3S0x3R3k2Y"}],"data":[{"name":"name","value":"The
      Hitchhiker''s Guide to the Galaxy"[...]
