---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/?per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"ebdf7b114b2f1575a69b1cc2e58082e5"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/","links":[{"rel":"account","href":"http://api.getcloudapp.com/account"},{"rel":"drops","href":"http://api.getcloudapp.com/drops"}]}}'
  recorded_at: Thu, 03 May 2012 19:47:44 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"2e691bdf3c5b9cffd0f48cdb1139bc2a"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17953836","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/3j2w1f24072J3C1X0I3v"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/3j2w1f24072J3C1X0I3v"}],"data":[{"name":"id","value":17953836},{"name":"name","value":null},{"name":"private","value":true},{"name":"trash","value":false},{"name":"bookmark_url","value":"http://getcloudapp.com"},{"name":"views","value":0},{"name":"created","value":"2012-05-03T19:37:17Z"}]},{"href":"http://api.getcloudapp.com/drops/17691061","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/2a2W3y1d1N3i3G022j2n"},{"rel":"icon","href":"h[...]
