---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?page=3&per_page=20
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"da26294fb1e52d05051798f6272a9801"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=3&per_page=20","items":[{"href":"/drops/13949541","links":[{"rel":"canonical","href":"http://cl.ly/3N2N100T1G1T3X2n350b"}],"data":[{"name":"name","value":"Link
      6"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/13949539","links":[{"rel":"canonical","href":"http://cl.ly/3s323h210r0e0j0b2O0F"}],"data":[{"name":"name","value":"Link
      4"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/13949537","links":[{"rel":"canonical","href":"http://cl.ly/2t443p3b1v0J0D3t3n0g"}],"data":[{"name":"name","value":"Link
      2"},{"name":"private","value":true},{"name":"views","value":0}]}],"links":[{"rel":"previous","href":"/drops?page=2&per_page=20"}]}}'
  recorded_at: Thu, 08 Mar 2012 19:22:44 GMT
recorded_with: VCR 2.0.0.rc1
