---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?page=2&per_page=10
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"37116d9c4451e73a6e3e1441e6b96b11"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=2&per_page=10","items":[{"href":"/drops/86","links":[{"rel":"canonical","href":"http://localhost:3000/3B333s1x0N2Y1p1W2Q2d"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/85","links":[{"rel":"canonical","href":"http://localhost:3000/2c0B2P2N2y2G1A3i3y2w"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/84","links":[{"rel":"canonical","href":"http://localhost:3000/1P3B1H1V0j0m0F1v3V02"}],"data":[{"name":"name","value":"CloudApp"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"[...]
