---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="wrong"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body: ! '{"collection":{"version":"1.0","href":"/account/token","template":{"data":[{"name":"email","value":""},{"name":"password","value":""}]}}}'
  recorded_at: Thu, 08 Mar 2012 19:23:38 GMT
recorded_with: VCR 2.0.0.rc1
