---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Thu, 08 Mar 2012 19:17:54 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"0eaabf888932f99fd003715293f05d45"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/16038447","links":[{"rel":"canonical","href":"http://cl.ly/361A1E2W1M1J2z3l2f0p"}],"data":[{"name":"name","value":"Delete
      Me 2"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/16038445","links":[{"rel":"canonical","href":"http://cl.ly/122z2c0m110n1m1O1K1F"}],"data":[{"name":"name","value":"Delete
      Me 1"},{"name":"private","value":true},{"name":"views","value":0}]}]}}'
  recorded_at: Thu, 08 Mar 2012 19:17:54 GMT
recorded_with: VCR 2.0.0.rc1
