---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Wed, 07 Mar 2012 21:34:11 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?filter=trash
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"e5a445c9992e273cbe4f6a2b738fe16b"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/100","links":[{"rel":"canonical","href":"http://localhost:3000/1H2C3L3Z1G0o3H3z0p2R"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/99","links":[{"rel":"canonical","href":"http://localhost:3000/270k1L3L1K2f2e311m3B"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/98","links":[{"rel":"canonical","href":"http://localhost:3000/3K2q1L3z1i3f1J0D2K14"}],"data":[{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":0}]},{"href[...]
