---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops?page=2
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.getcloudapp.com/drops?page=2&per_page=20>; rel="self", <http://api.getcloudapp.com/drops?page=1&per_page=20>;
        rel="previous"
      Content-Type:
      - application/vnd.cloudapp+json; charset=utf-8
      Etag:
      - ! '"881baf2b5cc9fa9c27fd0a12632191c6"'
    body: ! '[{"created_at":"2012-02-05T02:16:50Z","deleted_at":null,"id":88,"item_type":"bookmark","name":null,"private":true,"redirect_url":"http://google.com","remote_url":null,"source":null,"updated_at":"2012-02-05T02:16:50Z","view_counter":0,"href":"http://my.cl.dev/items/88","url":"http://localhost:3000/3K3U0Q1N1W413P1y1x0N","content_url":"http://localhost:3000/3K3U0Q1N1W413P1y1x0N","icon":"http://assets.my.cl.dev/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-02-05T02:17:05Z","deleted_at":null,"id":89,"item_type":"bookmark","name":null,"private":true,"redirect_url":"http://google.com","remote_url":null,"source":null,"updated_at":"2012-02-05T02:17:05Z","view_counter":0,"href":"http://my.cl.dev/items/89","url":"http://localhost:3000/0n2q2x0t2i2p2R1A0j02","content_url":"http://localhost:3000/0n2q2x0t2i2p2R1A0j02","icon":"http://assets.my.cl.dev/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-02-05T02:19:43Z","deleted_at":null,"id":90,"item_type":"image","name":"favicon.ico","private":true,"redirect_url":null,"remote_url":"http://dev.f.cl.ly/items/032T1P0e0v1o3H2u1L0R/favicon.ico","source":null,"updated_at":"2012-02-05T02:19:43Z","view_counter":0,"href":"http://my.cl.dev/items/90","url":"http://localhost:3000/0t0b3z1k1G2r3s0a462D","content_url":"http://cl.dev/0t0b3z1k1G2r3s0a462D/favicon.ico","icon":"http://assets.my.cl.dev/images/item-types/image.png","thumbnail_url":"http://localhost:3001/0t0b3z1k1G2r3s0a462D","subscribed":false,"download_url":"http://api.cl.dev/0t0b3z1k1G2r3s0a462D/download/favicon.ico"},{"created_at":"2012-02-10T16:09:05Z","deleted_at":null,"id":91,"item_type":"image","name":"favicon.ico","private":true,"redirect_url":null,"remote_url":"http://dev.f.cl.ly/items/1B1y2s0J1S3X0m461615/favicon.ico","source":null,"updated_at":"2012-02-10T16:09:05Z","view_counter":0,"href":"http://my.cl.dev/items/91","url":"http://localhost:3000/172d0A231m1W451j0d1M","content_url":"http://cl.dev/172d0A231m1W451j0d1M/favicon.ico","icon":"h[...]
