---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="wrong"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Www-Authenticate:
      - Token realm="CloudApp"
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/account/token","template":{"data":[{"name":"email","value":null},{"name":"password","value":null}]}}}'
  recorded_at: Fri, 04 May 2012 18:18:21 GMT
recorded_with: VCR 2.0.0
