---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Wed, 07 Mar 2012 21:23:45 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"ea1b28cdb11efa3111bf17d2a2a7c6ba"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/101","links":[{"rel":"canonical","href":"http://localhost:3000/472k3i21201H2O3O0h2L"}],"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":1}]},{"href":"/drops/95","links":[{"rel":"canonical","href":"http://localhost:3000/2U1b1J363E47170M303Z"}],"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/94","links":[{"rel":"canonical","href":"http://localhost:3000/081T3q0B0b2T160M3n0V"}],"data":[{"name":"name","value":"api.md"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/93","links":[[...]
