---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops/17533090
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"4ef7d5eccf7c1a0bdcaa1dd5ea792de0"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17533090","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/1J1E2o343R3z2t1T1Y0m"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/1J1E2o343R3z2t1T1Y0m"},{"rel":"embed","href":"http://cl.ly/1J1E2o343R3z2t1T1Y0m/favicon.ico"},{"rel":"download","href":"http://cl.ly/1J1E2o343R3z2t1T1Y0m/download/favicon.ico"}],"data":[{"name":"id","value":17533090},{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"views","value":0}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]}}}'
  recorded_at: Sat, 21 Apr 2012 18:00:50 GMT
- request:
    method: put
    uri: http://api.getcloudapp.com/drops/17533090
    body:
      encoding: UTF-8
      string: ! '{"name":"New Drop Name","private":false,"bookmark_url":null,"file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"a3c1838dc6a701da46fd0d6159023578"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/drops","items":[{"href":"http://api.getcloudapp.com/drops/17533090","links":[{"rel":"root","href":"http://api.getcloudapp.com/"},{"rel":"collection","href":"http://api.getcloudapp.com/drops"},{"rel":"canonical","href":"http://cl.ly/G2aO"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/G2aO"},{"rel":"embed","href":"http://cl.ly/G2aO/favicon.ico"},{"rel":"download","href":"http://cl.ly/G2aO/download/favicon.ico"}],"data":[{"name":"id","value":17533090},{"name":"name","value":"New
        Drop Name"},{"name":"private","value":false},{"name":"bookmark_url","value":null},{"name":"views","value":0}]}],"template":{"data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]}}}'
  recorded_at: Sat, 21 Apr 2012 18:00:50 GMT
recorded_with: VCR 2.0.0
