---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops/120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"7bdfe529c03138349c3d823cf1a6d1d6"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/120","links":[{"rel":"canonical","href":"http://localhost:3000/1U"},{"rel":"icon","href":"https://localhost:3001/1U"}],"data":[{"name":"id","value":120},{"name":"name","value":"New
        Drop Name"},{"name":"private","value":false},{"name":"views","value":0}]}],"templates":[{"rel":"/rels/create","href":"/drops","data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Thu, 05 Apr 2012 18:56:33 GMT
- request:
    method: post
    uri: http://api.getcloudapp.com/drops/120
    body:
      encoding: UTF-8
      string: ! '{"name":"New Drop Name","private":false,"bookmark_url":null,"file_size":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"7bdfe529c03138349c3d823cf1a6d1d6"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/120","links":[{"rel":"canonical","href":"http://localhost:3000/1U"},{"rel":"icon","href":"https://localhost:3001/1U"}],"data":[{"name":"id","value":120},{"name":"name","value":"New
        Drop Name"},{"name":"private","value":false},{"name":"views","value":0}]}],"templates":[{"rel":"/rels/create","href":"/drops","data":[{"name":"name","value":null},{"name":"private","value":true},{"name":"bookmark_url","value":null},{"name":"file_size","value":null}]},{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Thu, 05 Apr 2012 18:56:34 GMT
recorded_with: VCR 2.0.0
