---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Www-Authenticate:
      - Token realm="CloudApp"
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/account/token","template":{"data":[{"name":"email","value":""},{"name":"password","value":""}]}}}'
  recorded_at: Thu, 22 Mar 2012 19:02:48 GMT
- request:
    method: post
    uri: http://api.getcloudapp.com/account/token
    body:
      encoding: UTF-8
      string: ! '{"email":"arthur@dent.com","password":"towel42"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/account/token","links":[{"rel":"root","href":"/"}],"items":[{"href":"http://api.getcloudapp.com/account/token","data":[{"name":"token","value":"abc123"}]}]}}'
  recorded_at: Thu, 22 Mar 2012 19:02:49 GMT
recorded_with: VCR 2.0.0
