---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Www-Authenticate:
      - Token realm="CloudApp"
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/account/token","template":{"data":[{"name":"email","value":null},{"name":"password","value":null}]}}}'
  recorded_at: Fri, 04 May 2012 18:26:48 GMT
- request:
    method: post
    uri: http://api.getcloudapp.com/account/token
    body:
      encoding: UTF-8
      string: ! '{"email":"arthur@dent.com","password":"wrong"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Www-Authenticate:
      - Token realm="CloudApp"
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"http://api.getcloudapp.com/account/token","template":{"data":[{"name":"email","value":null},{"name":"password","value":null}]}}}'
  recorded_at: Fri, 04 May 2012 18:26:49 GMT
recorded_with: VCR 2.0.0
