---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Sat, 17 Mar 2012 16:03:17 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"401fedf85b2a69c8c5c56de1e52f5069"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/16038447","links":[{"rel":"canonical","href":"http://cl.ly/361A1E2W1M1J2z3l2f0p"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/361A1E2W1M1J2z3l2f0p"}],"data":[{"name":"id","value":16038447},{"name":"name","value":"Delete
      Me 2"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/16038445","links":[{"rel":"canonical","href":"http://cl.ly/122z2c0m110n1m1O1K1F"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/122z2c0m110n1m1O1K1F"}],"data":[{"name":"id","value":16038445},{"name":"name","value":"Delete
      Me 1"},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/13950097","links":[{"rel":"canonical","href":"http[...]
- request:
    method: delete
    uri: http://api.getcloudapp.com/drops
    body: ! '{"drop_ids":[16038445,16038447]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body: ''
  recorded_at: Sat, 17 Mar 2012 16:03:18 GMT
recorded_with: VCR 2.0.0.rc1
