---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"c3cd2b55f0624033128b8bfbacaba89d"'
    body: ! '{"collection":{"version":"1.0","href":"/","links":[{"rel":"/rels/account","href":"/account"},{"rel":"/rels/drops","href":"/drops"}]}}'
  recorded_at: Thu, 15 Mar 2012 19:16:21 GMT
- request:
    method: get
    uri: http://api.getcloudapp.com/drops
    body: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"35a9308993429019becef7ad0b2654dc"'
    body: ! '{"collection":{"version":"1.0","href":"/drops?page=1&per_page=20","items":[{"href":"/drops/104","links":[{"rel":"canonical","href":"http://localhost:3000/2E2P0s2J0W2n0C112v2w"},{"rel":"icon","href":"https://localhost:3001/2E2P0s2J0W2n0C112v2w"}],"data":[{"name":"id","value":104},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/103","links":[{"rel":"canonical","href":"http://localhost:3000/03330w11343U27270F05"},{"rel":"icon","href":"https://localhost:3001/03330w11343U27270F05"}],"data":[{"name":"id","value":103},{"name":"name","value":null},{"name":"private","value":true},{"name":"views","value":0}]},{"href":"/drops/101","links":[{"rel":"canonical","href":"http://localhost:3000/472k3i21201H2O3O0h2L"},{"rel":"[...]
- request:
    method: delete
    uri: http://api.getcloudapp.com/drops
    body: ! '{"drop_ids":[103,104]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body: ''
  recorded_at: Thu, 15 Mar 2012 19:16:22 GMT
recorded_with: VCR 2.0.0.rc1
