---
http_interactions:
- request:
    method: get
    uri: http://api.getcloudapp.com/drops/13950097
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="abc123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.collection+json; charset=utf-8
      Etag:
      - ! '"d1fac07230d9698510bcef599d9b733f"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":{"version":"1.0","href":"/drops","items":[{"href":"/drops/13950097","links":[{"rel":"canonical","href":"http://cl.ly/0P281s1u1J1p47241B3o"},{"rel":"icon","href":"https://thumbs.getcloudapp.com/0P281s1u1J1p47241B3o"}],"data":[{"name":"id","value":13950097},{"name":"name","value":"favicon.ico"},{"name":"private","value":true},{"name":"views","value":24}]}],"templates":[{"rel":"/rels/recover","href":"/drops?filter=trash","data":[{"name":"drop_ids","value":[]}]},{"rel":"/rels/remove","href":"/drops","data":[{"name":"drop_ids","value":[]}]}]}}'
  recorded_at: Thu, 22 Mar 2012 20:06:19 GMT
recorded_with: VCR 2.0.0
