---
http_interactions:
- request:
    method: get
    uri: https://my.cl.ly/items?api_version=1.2&page=2&per_page=20
    body: ''
    headers:
      Authorization:
      - Token token="8762f6679f8d001016b2"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1e9516564846dd1c9c27b573289c8019"'
      Last-Modified:
      - Thu, 23 Feb 2012 12:03:31 GMT
    body: ! '{"items":[{"created_at":"2012-01-12T20:39:03Z","deleted_at":null,"id":13949563,"item_type":"bookmark","name":"Link
      27","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-01-12T20:39:03Z","view_counter":0,"href":"http://my.cl.ly/items/13949563","url":"http://cl.ly/071h0U3a270D0z3P2D3E","content_url":"http://cl.ly/071h0U3a270D0z3P2D3E","icon":"http://assets.my.cld.me/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-01-12T20:39:03Z","deleted_at":null,"id":13949562,"item_type":"bookmark","name":"Link
      26","private":true,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-01-12T20:39:03Z","view_counter":0,"href":"http://my.cl.ly/items/13949562","url":"http://cl.ly/0s0M350K1c0B0s3E070U","content_url":"http://cl.ly/0s0M350K1c0B0s3E070U","icon":"http://assets.my.cld.me/images/item-types/bookmark.png","subscribed":false},{"created_at":"2012-01[...]
