---
http_interactions:
- request:
    method: get
    uri: http://my.cl.ly/
    body: ''
    headers:
      Authorization:
      - Token token="8762f6679f8d001016b2"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"46f2ba2ae90c1ce48e657ee348cf68d7"'
      Last-Modified:
      - Tue, 14 Feb 2012 14:37:35 GMT
    body: ! '[{"created_at":"2012-01-12T20:49:23Z","deleted_at":null,"id":13950097,"item_type":"image","name":"favicon.ico","private":true,"redirect_url":null,"remote_url":"http://f.cl.ly/items/0p2t030e0a1N091o2t3o/favicon.ico","source":"Mozilla/5.0
      (Macintosh; Intel Mac OS X 10_7_2) AppleWebKit/535.7 (KHTML, like Gecko) Chrome/16.0.912.75
      Safari/535.7","updated_at":"2012-02-07T15:34:17Z","view_counter":3,"href":"http://my.cl.ly/items/13950097","url":"http://cl.ly/0P281s1u1J1p47241B3o","content_url":"http://cl.ly/0P281s1u1J1p47241B3o/favicon.ico","icon":"http://assets.my.cld.me/images/item-types/image.png","thumbnail_url":"http://thumbs.cl.ly/0P281s1u1J1p47241B3o","subscribed":false,"download_url":"http://api.cld.me/0P281s1u1J1p47241B3o/download/favicon.ico"},{"created_at":"2012-01-12T20:49:13Z","deleted_at":null,"id":13950087,"item_type":"image","name":"\u00f8\u00e6\u00d8\u00fc\u00f6\u00e4\u00df!?&+-.jpeg","private":true,"redirect_url":null,"remote_url":"http://f.cl.ly/items/0p2t030e0a1N091o2t3o/%C3%B8%C3%A6%C3%98%C3%BC%C3%B6%C3%A4%C3%9F!%3F&%2B-.jpeg","source":"Mozilla/5.0
      (Macintosh; Intel Mac OS X 10_7_2) AppleWebKit/535.7 (KHTML, like Gecko) Chrome/16.0.912.75
      Safari/535.[...]
- request:
    method: post
    uri: http://my.cl.ly/items?api_version=1.2
    body: ! '{"item":{"name":"CloudApp","redirect_url":"http://getcloudapp.com","private":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="8762f6679f8d001016b2"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7dfb9bc4e7178d1953fa6901db9fa3eb"'
    body: ! '{"created_at":"2012-02-14T14:39:14Z","deleted_at":null,"id":15182863,"item_type":"bookmark","name":"CloudApp","private":false,"redirect_url":"http://getcloudapp.com","remote_url":null,"source":null,"updated_at":"2012-02-14T14:39:14Z","view_counter":0,"href":"http://my.cl.ly/items/15182863","url":"http://cl.ly/EBT1","content_url":"http://cl.ly/EBT1","icon":"http://assets.my.cld.me/images/item-types/bookmark.png","subscribed":false}'
  recorded_at: Tue, 14 Feb 2012 14:39:14 GMT
recorded_with: VCR 2.0.0.rc1
